/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'DM Sans', sans-serif;
    line-height: 1.6;
    color: #333;
}

/* Header Section */
.img {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#img-fondo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.img::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.resrerior {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
}

.resrerior img {
    width: 400px;
    transition: width 0.3s ease-in-out; /* Animación suave al cambiar tamaños */
    max-width: 170%;
    transform: translate(-50%, -50%);

}

/* Updates Section */
.updates {
    background-color: #fff;
    padding: 10vh 20px;
    text-align: center;
}

.updates h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.updates p {
    font-size: 1.2rem;
    max-width: 600px;
    margin: 0 auto;
}

/* Responsividad */

@media (max-width: 480px) {
    .updates h1 {
        font-size: 2rem;
    }

    .updates p {
        font-size: 0.9rem;
    }

    .resrerior img {
        width: 350px;
    }
    

}


@media (max-width: 768px) {
    .updates h1 {
        font-size: 2.5rem;
    }

    .updates p {
        font-size: 1rem;
    }

    .resrerior img {
        width: 680px;
    }
}


@media (max-width: 820px) {
    .updates h1 {
        font-size: 2rem;
    }

    .updates p {
        font-size: 0.9rem;
    }

    .resrerior img {
        width: 720px;
    }

}


@media (max-width: 912px) {
    .updates h1 {
        font-size: 2rem;
    }

    .updates p {
        font-size: 0.9rem;
    }

    .resrerior img {
        width: 700px;
    }
}



/* Tamaños más grandes */
@media (min-width: 1024px) {
    .resrerior img {
        width: 980px; /* Más grande en pantallas de escritorio */
    }
}

@media (min-width: 1440px) {
    .resrerior img {
        width: 1600px; /* Aumenta en pantallas ultra grandes */
    }
}


